.MoviesPageDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .paginDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lightgray;
        width: 370px;
        margin: 10px 10px 10px 33%;
        border-radius: 20px;

    }
}